@mixin input-placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}

	&:focus::-webkit-input-placeholder { color:transparent; background: transparent; }
	&:focus:-moz-placeholder { color:transparent; background: transparent; } /* FF 4-18 */
	&:focus::-moz-placeholder { color:transparent; background: transparent; } /* FF 19+ */
	&:focus:-ms-input-placeholder { color:transparent; background: transparent; } /* IE 10+ */
}